@import url('https://fonts.googleapis.com/css2?family=Niconne:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'Niconne', serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100vh;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.navbar {
  background-color: black;
  box-shadow: 0 0 30px silver;
}

.nav-logo {
  font-size: 2.6rem;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
}

.nav-logo:hover {
  color: silver;
}

.nav-lg {
  display: none;
}

.nav-burger {
  color: white;
  width: 80px;
  height: 30px;
}

.navbar-li {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin: 0 10px;
}

.navbar-li:hover {
  text-decoration: none;
  color: silver;
  font-size: 2rem;
  margin: 0 10px;
}

.hero-h1 {
  font-size: 4rem;
  line-height: 4rem;
  max-width: 700px;
  text-align: left;
  margin: 0px auto 30px 3vw;
  letter-spacing: -0.2rem;
}

.hero-sub {
  font-family: 'Alexandria', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  margin: 0px auto 30px 3vw;
  letter-spacing: -0.05rem;
}

.hero-btn {
  padding: 12px 20px 11px;
  font-family: 'Alexandria', sans-serif;
  border-radius: 30px;
  border-top-style: 1px solid black;
  border-right-style: 1px solid silver;
  border-bottom-style: 1px solid black;
  border-left-style: 1px solid silver;
  font-weight: 700;
  font-size: 16px;
  background-color: rgb(95, 95, 95);
  color: white;
  cursor: pointer;
  min-width: 150px;
  height: 50px;
  margin: 0 10px;
}

.hero-btns {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0px 23px 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img img {
  margin: 0 auto;
  width: auto;
  height: 50vh;
  margin-bottom: 5rem;
}

.hero-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-secondary {
  font-weight: 700;
  margin: 0 0 0 -10px;
  width: 70px;
  border-radius: 8px;
}

.btn-dark {
  font-weight: 700;

  padding: 6px 10px;
  border-radius: 8px;
}

.product-card {
  font-family: 'Alexandria', sans-serif;
  width: 220px;
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 20px silver;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.modal {
  font-family: 'Alexandria', sans-serif;
}

.modal-content {
  border-radius: 10px;
}

.contact-btn {
  display: none;
}

input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

.category-container h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: -30px;
}

.card-description {
  font-size: 0.9rem;
  margin: -10px 0 10px;
}

.card-price {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  font-weight: 700;
  width: 95%;
}

.price {
  width: 80px;
}

.cartadd {
  width: 100px;
}

.about-h1 {
  font-size:6rem;
  line-height: 7rem;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: -0.2rem;
}

.about-sub {
  font-size: 2.5rem;
  margin-bottom: 3rem;
} 

.about-details {
  text-align: center;
  font-family: 'Alexandria', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  padding-right: 30px;
}

.about-heading {
  font-family: 'Niconne', serif;
  font-size: 3.5rem;
}

.about-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-img {
  width: 80vw;
  max-width: 600px;
  margin-bottom: -10px;
}

.about-container {
  width: 80vw;
}

.product-container {
  width: 90vw;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}

.product-category {
  display: block;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto 60px;
}

.product-category a {
  text-decoration: none;
  color: black;
  font-family: 'Alexandria', sans-serif;
}

.product-category h4 {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  margin: 15px 0 0px;
}

.beads-container {
  margin: 30px auto 60px;
}

footer {
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Alexandria', sans-serif;
  font-size: 0.8rem;
  width: 100vw;
}

.copyrightcopy {
  margin: 10px auto;
}

.contact-container {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.contact-description {
  text-align: center;
}

.contact-details {
  font-family: 'Alexandria', sans-serif;
  font-size: 1.2rem;
}

.mapframe {
  width: 80vw;
  height: 40vh;
  margin: 0 auto;
  max-width: 800px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 30px auto;
}

.cart-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(211, 210, 210);
}

.item-info {
  font-family: 'Alexandria', sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
}

.item-info p {
  text-align: right;
}

.cart-btn {
  width: 140px;
}

.checkout-btn {
  font-family: 'Alexandria', sans-serif;
  margin-top: 60px;
  border-radius: 5px;
}

.total {
  font-family: 'Alexandria', sans-serif;
  margin-left: auto;
  margin-top: 30px;
}

.checkout {
  display: block;
  text-align: right;
  width: 100px;
  margin-left: 50vw;
}

.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open sans', serif;
}

.signup-container {
  margin-top: -80px;
}

.signup-header {
  width: 400px;
  margin-bottom: 50px;
}

.signupform div {
  width: 250px;
}

.about-container {
  margin: 60px 0;
  padding-top: 120px;
}

.about-details {
  margin-top: 90px;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  .hero-h1 {
    font-size: 6rem;
    line-height: 6rem;
    text-align: center;
    letter-spacing: -0.2rem;
    margin: 0 30px;
  }
  
  .hero-sub {
    font-family: 'Alexandria', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: 30px 50px;
    letter-spacing: -0.05rem;
  }

  .hero-btn {
    min-width: 150px;
    height: 50px;
    margin: 0 5px;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 30px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .nav-lg {
    display: none;
  }

  .navbar-li {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0 10px;
  }

  .nav-sm {
    display: block;
  }

  .hero-h1 {
    font-size: 7rem;
    line-height: 7rem;
    width: 700px;
    text-align: center;
    margin: 30px auto;
    letter-spacing: -0.2rem;
  }
  
  .hero-sub {
    font-family: 'Alexandria', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: -10px auto 30px;
    letter-spacing: -0.05rem;
  }

  .hero-btn {
    min-width: 150px;
    height: 50px;
    margin: 0 5px;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 30px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .nav-lg {
    display: block;
  }

  .navbar-li {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0 10px;
  }

  .nav-sm {
    display: none;
  }

  .hero-h1 {
    font-size: 7rem;
    line-height: 7rem;
    width: 700px;
    text-align: center;
    margin: 0px auto 30px;
    letter-spacing: -0.2rem;
  }
  
  .hero-sub {
    font-family: 'Alexandria', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: -10px auto 30px;
    letter-spacing: -0.05rem;
  }

  .hero-btn {
    min-width: 150px;
    height: 50px;
    margin: 0 5px;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 30px;
  }

  .about-container {
    width: 100%;
  }

  .about-details {
    margin-top: 0px;
  }

  .about-img {
    margin-top: -60px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1399px) {
  .nav-lg {
    display: block;
  }

  .navbar-li {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0 10px;
  }

  .nav-sm {
    display: none;
  }

  .hero-h1 {
    font-size: 8rem;
    line-height: 7.5rem;
    max-width: 900px;
    text-align: center;
    margin: 30px auto 30px;
    letter-spacing: -0.2rem;
  }
  
  .hero-sub {
    font-family: 'Alexandria', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin: -10px auto 30px;
    letter-spacing: -0.05rem;
  }

  .hero-btn {
    min-width: 150px;
    height: 50px;
    margin: 0 5px;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 30px;
  }

  .product-category {
    display: flex;
    justify-content: space-between; 
    width: 80vw;
  }

  .about-details {
    margin-top: 0px;
  }

  .about-img {
    margin-top: -60px;
  }
}

@media all and (min-width: 1400px) {
  .nav-lg {
    display: block;
    text-decoration: none;
  }

  .navbar-li {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0 10px;
  }

  .nav-sm {
    display: none;
  }

  .hero-h1 {
    font-size: 9rem;
    line-height: 9rem;
    max-width: 900px;
    text-align: center;
    margin: 0px auto 30px;
    letter-spacing: -0.2rem;
  }
  
  .hero-sub {
    font-family: 'Open sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: -10px auto 30px;
    letter-spacing: -0.05rem;
  }

  .hero-btn {
    min-width: 150px;
    height: 50px;
    margin: 0 5px;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 30px;
  }

  .about-container {
    margin-left: -60px;
  }

  .product-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 70vw;
  }

  .category-container {
    margin-top: 30px;
    width: 80vw;
  }

  .about-details {
    margin-top: 0px;
  }

  .about-img {
    margin-top: -60px;
  }
}


